<!DOCTYPE html>
<html lang="en">
<head>
    <title>CodePaws Adoption</title>
    <meta charset="utf-8">
    <link rel="icon" href="/images/codepawsrounded.png">

    <link rel="stylesheet" href="/styles.css">
    <!--All images used on this site are from:
        wikipedia.com, github.com, linkedin.com, AI Generated or Personal Photos
        All references used from articles are cited at the
        bottom of their respective pages.
    -->
    <script src="/index.js" defer></script>
</head>
<%- include("partials/header")%>
<%- include("partials/leftsidebar")%>
<div id="create" class="section">
    <div class="content">
        <h2 class="content">Create an Account</h2><br>
        <fieldset class="create">
            <legend><strong>Enter your information below:</strong></legend>
            <form action="/new" method="post">
                <label for="username"><strong>Username*:</strong></label>
                <input type="text" name="username" id="username" class="inputField" required>
                <% if (usernameError) { %>
                    <p style="color: red;"><%= usernameError %></p>
                <% } %>
                <p>(Username must contain digits and lower/uppercase letters only)</p><br>
                <label for="password"><strong>Password*:</strong></label>
                <input type="password" name="password" id="password" class="inputField" required>
                <% if (passwordError) { %>
                    <p style="color: red;"><%= passwordError %></p>
                <% } %>
                <p>(Password must be at least 4 characters long, at least 1 digit and 1 letter)</p><br>
                <input type="submit" value="Create Account" class="reglogButton"><br>
                <br><p>Already have an account? <a href="/login" class="reglogLink"><strong>Login here</strong></a></p>
                <%if (created){ %>
                    <p style="color: green;">Account created successfully!</p>
                <% } %>
            </form>
        </fieldset>
    </div>
</div>
<%- include("partials/footer")%>
